@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: Roboto;
  background-color: var(--background);
  color: var(--text);
}

*[clickable]:hover {
  cursor: pointer;
}
