@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: Roboto;
  background-color: var(--background);
  color: var(--text);
}

*[clickable]:hover {
  cursor: pointer;
}

*[clickable]:not(.no-outline):hover {
  box-shadow: inset 0 0 0 1px var(--background-d2);
}

*[fluid] {
  width: 100%;
}

.link {
  color: var(--secondary-d2);
  text-decoration: none;
}

a.active {
  color: var(--secondary-d1);
  font-weight: bold;
}
